<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Домашняя страница</h2>
    {% if user.is_authenticated %}
        {{ user.username }}
    {% endif %}

    {% for post in posts %}
        <p style="color: cadetblue;">{{ post.title }}</p>
        <p>{{ post.content }}</p>
        <p>{{ post.create_at }}</p>
        <p style="color: coral;">{{ post.author }}</p>
        <br>
        <hr>
    {% endfor %}

    <a href="{% url 'login' %}">LOGIN</a>
    <a href="{% url 'logout' %}">Выйти</a>
</body>
</html>